* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
}
button {
    padding: 8px 30px;
    transition: 0.5s;
}

/* HEADER */
.header__top {
    padding: 10px 0;
    background: #363d41;
}
.header__icons a {
    margin-right: 15px;
}
.header__icons i {
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
}
.header__icons a:first-child i:hover {
    color: #527dbd;
}
.header__icons a:nth-child(2) i:hover {
    color: #1da1f2;
}
.header__icons a:nth-child(3) i:hover {
    color: #dd4b39;
}
.header__icons a:nth-child(4) i:hover {
    color: #0077b5;
}
.header__contact {
    margin-left: auto;
}
.header__contact a {
    text-decoration: none;
}

.header__bottom {
    padding: 16px 0;
}
.navbarMerged .navbar-brand {
    padding-top: 0px;
    font-size: 40px;
    color: #7f67f8 !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-right: 0;
}
.navbarMerged .navbar-brand span {
    color: #868c94 !important;
    font-size: 30px;
    font-weight: 500;
}
#navbarMergedContent .navbar-nav .nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#navbarMergedContent .navbar-nav .nav-item .nav-link {
    color: #363d41;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 15px;
    padding: 0px 0px;
    transition: 0.5s all;
}
#navbarMergedContent .navbar-nav .nav-item:hover .nav-link {
    color: #7f67f8;
}
#navbarMergedContent .navbar-nav .nav-item.active .nav-link {
    color: #7f67f8;
}

/* CAROUSEL */
.mergedCarousel {
    background: url(../img/b1.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
    min-height: 700px;
}
#carouselMergedCaptions {
    background: rgba(0, 0, 0, 0.37);
    background-size: cover;
    min-height: 700px;
}
#carouselMergedCaptions .carousel-inner {
    height: 100%;
}
#carouselMergedCaptions .carousel-item {
    height: 100%;
}
#carouselMergedCaptions .carousel-item .carousel-caption {
    padding: 14em 0 0;
    text-align: center;
    position: unset;
}
#carouselMergedCaptions .carousel-item .carousel-caption h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 0.2em;
    font-weight: 400;
}

#carouselMergedCaptions .carousel-item .carousel-caption p {
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    margin: 20px auto 40px;
    width: 86%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.mergedCarousel__buttons .button--transparent {
    border: 2px solid #fdfdfd;
    color: white;
    background: none;
}
.mergedCarousel__buttons .button--transparent:hover {
    border: 2px solid #7f67f8;
    color: white;
    background-color: #7f67f8;
}
.mergedCarousel__buttons .button--blue {
    border: 2px solid #7f67f8;
    color: white;
    background-color: #7f67f8;
}
.mergedCarousel__buttons .button--blue:hover {
    border: 2px solid #fdfdfd;
    color: white;
    background: none;
}
#carouselMergedCaptions .carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #7f67f8;
    opacity: 1;
}
#carouselMergedCaptions .carousel-indicators li.active {
    background-color: white;
}

/* INTRO */
.intro {
    padding: 5em 0;
}
.intro .intro__top {
    margin-bottom: 5em;
}
.intro .intro__top h3 {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
.intro .intro__top p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.intro .bord {
    background: #e8e8e8;
    height: 1px;
    width: 75%;
    margin: 0 auto 3em;
}
.intro .intro__item.intro__item2 {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.intro .intro__item i {
    font-size: 40px;
    color: #f97c69;
}
.intro .intro__item h4 {
    font-size: 22px;
    color: #151515;
    letter-spacing: 0.075em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
}
